.tile-root {
  background-color: transparent;
  border: 1px solid #666;
  width: 8vmin;
  height: 8vmin;
  margin: 1px;
  user-select: none;
}

.tile-root:hover {
  opacity: 0.7;
}

.tile-normal {
  background-color: #DDD;
}

.tile-gap {
  border: 1px solid transparent;
}

.tile-start {
  background-color: rgb(255, 175, 255);
}

.tile-moved {
  background-color: rgb(75, 175, 255);
}

.tile-won {
  background-color: rgb(75, 255, 75);
  /** animation-name: pop; **/
  /** animation-duration: 1s; **/
}

@keyframes pop {
  from {
    width: 8vmin;
    height: 8vmin;
    margin: 1px;
  }
  to {
    width: 0vmin;
    height: 0vmin;
    transform: rotate(135deg);
    margin: -0.5vmin;
  }
}